.particle-container{
    z-index: -19;
}
.particle {
    position: absolute;
    border-radius: 50%;
}
@keyframes particle-animation-1 {
    100% {
        transform: translate3d(7vw, 57vh, 99px);
   }
}
.particle:nth-child(1) {
    animation: particle-animation-1 60s infinite;
    opacity: 1;
    height: 10px;
    width: 10px;
    animation-delay: -0.2s;
    transform: translate3d(68vw, 6vh, 81px);
    background: #d9265f;
}
@keyframes particle-animation-2 {
    100% {
        transform: translate3d(81vw, 79vh, 67px);
   }
}
.particle:nth-child(2) {
    animation: particle-animation-2 60s infinite;
    opacity: 0.56;
    height: 7px;
    width: 7px;
    animation-delay: -0.4s;
    transform: translate3d(61vw, 66vh, 58px);
    background: #d92659;
}
@keyframes particle-animation-3 {
    100% {
        transform: translate3d(62vw, 67vh, 44px);
   }
}
.particle:nth-child(3) {
    animation: particle-animation-3 60s infinite;
    opacity: 0.79;
    height: 9px;
    width: 9px;
    animation-delay: -0.6s;
    transform: translate3d(43vw, 66vh, 56px);
    background: #266ed9;
}
@keyframes particle-animation-4 {
    100% {
        transform: translate3d(81vw, 7vh, 8px);
   }
}
.particle:nth-child(4) {
    animation: particle-animation-4 60s infinite;
    opacity: 0.18;
    height: 7px;
    width: 7px;
    animation-delay: -0.8s;
    transform: translate3d(21vw, 65vh, 27px);
    background: #26acd9;
}
@keyframes particle-animation-5 {
    100% {
        transform: translate3d(21vw, 52vh, 28px);
   }
}
.particle:nth-child(5) {
    animation: particle-animation-5 60s infinite;
    opacity: 0.31;
    height: 8px;
    width: 8px;
    animation-delay: -1s;
    transform: translate3d(83vw, 63vh, 84px);
    background: #b8d926;
}
@keyframes particle-animation-6 {
    100% {
        transform: translate3d(63vw, 59vh, 65px);
   }
}
.particle:nth-child(6) {
    animation: particle-animation-6 60s infinite;
    opacity: 0.18;
    height: 7px;
    width: 7px;
    animation-delay: -1.2s;
    transform: translate3d(36vw, 89vh, 27px);
    background: #b226d9;
}
@keyframes particle-animation-7 {
    100% {
        transform: translate3d(90vw, 33vh, 41px);
   }
}
.particle:nth-child(7) {
    animation: particle-animation-7 60s infinite;
    opacity: 0.85;
    height: 8px;
    width: 8px;
    animation-delay: -1.4s;
    transform: translate3d(72vw, 39vh, 77px);
    background: #d926a6;
}
@keyframes particle-animation-8 {
    100% {
        transform: translate3d(84vw, 80vh, 20px);
   }
}
.particle:nth-child(8) {
    animation: particle-animation-8 60s infinite;
    opacity: 0.46;
    height: 8px;
    width: 8px;
    animation-delay: -1.6s;
    transform: translate3d(66vw, 74vh, 81px);
    background: #267dd9;
}
@keyframes particle-animation-9 {
    100% {
        transform: translate3d(60vw, 4vh, 12px);
   }
}
.particle:nth-child(9) {
    animation: particle-animation-9 60s infinite;
    opacity: 0.31;
    height: 7px;
    width: 7px;
    animation-delay: -1.8s;
    transform: translate3d(4vw, 16vh, 64px);
    background: #d92641;
}
@keyframes particle-animation-10 {
    100% {
        transform: translate3d(24vw, 11vh, 98px);
   }
}
.particle:nth-child(10) {
    animation: particle-animation-10 60s infinite;
    opacity: 0.98;
    height: 9px;
    width: 9px;
    animation-delay: -2s;
    transform: translate3d(29vw, 78vh, 81px);
    background: #80d926;
}
@keyframes particle-animation-11 {
    100% {
        transform: translate3d(13vw, 25vh, 78px);
   }
}
.particle:nth-child(11) {
    animation: particle-animation-11 60s infinite;
    opacity: 0.7;
    height: 8px;
    width: 8px;
    animation-delay: -2.2s;
    transform: translate3d(89vw, 14vh, 2px);
    background: #d926be;
}
@keyframes particle-animation-12 {
    100% {
        transform: translate3d(79vw, 48vh, 64px);
   }
}
.particle:nth-child(12) {
    animation: particle-animation-12 60s infinite;
    opacity: 0.81;
    height: 10px;
    width: 10px;
    animation-delay: -2.4s;
    transform: translate3d(49vw, 68vh, 15px);
    background: #26d9a3;
}
@keyframes particle-animation-13 {
    100% {
        transform: translate3d(17vw, 54vh, 47px);
   }
}
.particle:nth-child(13) {
    animation: particle-animation-13 60s infinite;
    opacity: 0.02;
    height: 10px;
    width: 10px;
    animation-delay: -2.6s;
    transform: translate3d(59vw, 29vh, 59px);
    background: #264dd9;
}
@keyframes particle-animation-14 {
    100% {
        transform: translate3d(39vw, 38vh, 85px);
   }
}
.particle:nth-child(14) {
    animation: particle-animation-14 60s infinite;
    opacity: 0.51;
    height: 7px;
    width: 7px;
    animation-delay: -2.8s;
    transform: translate3d(32vw, 20vh, 85px);
    background: #d96e26;
}
@keyframes particle-animation-15 {
    100% {
        transform: translate3d(20vw, 74vh, 86px);
   }
}
.particle:nth-child(15) {
    animation: particle-animation-15 60s infinite;
    opacity: 0.31;
    height: 9px;
    width: 9px;
    animation-delay: -3s;
    transform: translate3d(45vw, 25vh, 68px);
    background: #6226d9;
}
@keyframes particle-animation-16 {
    100% {
        transform: translate3d(38vw, 88vh, 71px);
   }
}
.particle:nth-child(16) {
    animation: particle-animation-16 60s infinite;
    opacity: 0.05;
    height: 7px;
    width: 7px;
    animation-delay: -3.2s;
    transform: translate3d(30vw, 36vh, 35px);
    background: #26b2d9;
}
@keyframes particle-animation-17 {
    100% {
        transform: translate3d(81vw, 10vh, 15px);
   }
}
.particle:nth-child(17) {
    animation: particle-animation-17 60s infinite;
    opacity: 0.89;
    height: 9px;
    width: 9px;
    animation-delay: -3.4s;
    transform: translate3d(44vw, 13vh, 83px);
    background: #71d926;
}
@keyframes particle-animation-18 {
    100% {
        transform: translate3d(20vw, 4vh, 67px);
   }
}
.particle:nth-child(18) {
    animation: particle-animation-18 60s infinite;
    opacity: 0.44;
    height: 10px;
    width: 10px;
    animation-delay: -3.6s;
    transform: translate3d(24vw, 13vh, 100px);
    background: #d326d9;
}
@keyframes particle-animation-19 {
    100% {
        transform: translate3d(52vw, 73vh, 55px);
   }
}
.particle:nth-child(19) {
    animation: particle-animation-19 60s infinite;
    opacity: 0.86;
    height: 7px;
    width: 7px;
    animation-delay: -3.8s;
    transform: translate3d(42vw, 17vh, 99px);
    background: #2641d9;
}
@keyframes particle-animation-20 {
    100% {
        transform: translate3d(76vw, 38vh, 66px);
   }
}
.particle:nth-child(20) {
    animation: particle-animation-20 60s infinite;
    opacity: 0.86;
    height: 9px;
    width: 9px;
    animation-delay: -4s;
    transform: translate3d(10vw, 44vh, 27px);
    background: #c4d926;
}
@keyframes particle-animation-21 {
    100% {
        transform: translate3d(29vw, 15vh, 37px);
   }
}
.particle:nth-child(21) {
    animation: particle-animation-21 60s infinite;
    opacity: 0.41;
    height: 6px;
    width: 6px;
    animation-delay: -4.2s;
    transform: translate3d(18vw, 32vh, 27px);
    background: #d9269d;
}
@keyframes particle-animation-22 {
    100% {
        transform: translate3d(17vw, 2vh, 13px);
   }
}
.particle:nth-child(22) {
    animation: particle-animation-22 60s infinite;
    opacity: 0.06;
    height: 8px;
    width: 8px;
    animation-delay: -4.4s;
    transform: translate3d(35vw, 4vh, 55px);
    background: #5c26d9;
}
@keyframes particle-animation-23 {
    100% {
        transform: translate3d(45vw, 56vh, 97px);
   }
}
.particle:nth-child(23) {
    animation: particle-animation-23 60s infinite;
    opacity: 0.82;
    height: 8px;
    width: 8px;
    animation-delay: -4.6s;
    transform: translate3d(40vw, 56vh, 82px);
    background: #b226d9;
}
@keyframes particle-animation-24 {
    100% {
        transform: translate3d(74vw, 19vh, 2px);
   }
}
.particle:nth-child(24) {
    animation: particle-animation-24 60s infinite;
    opacity: 0.97;
    height: 8px;
    width: 8px;
    animation-delay: -4.8s;
    transform: translate3d(9vw, 89vh, 15px);
    background: #d94126;
}
@keyframes particle-animation-25 {
    100% {
        transform: translate3d(49vw, 25vh, 17px);
   }
}
.particle:nth-child(25) {
    animation: particle-animation-25 60s infinite;
    opacity: 0.51;
    height: 6px;
    width: 6px;
    animation-delay: -5s;
    transform: translate3d(85vw, 65vh, 66px);
    background: #2668d9;
}
@keyframes particle-animation-26 {
    100% {
        transform: translate3d(75vw, 84vh, 96px);
   }
}
.particle:nth-child(26) {
    animation: particle-animation-26 60s infinite;
    opacity: 0.81;
    height: 8px;
    width: 8px;
    animation-delay: -5.2s;
    transform: translate3d(71vw, 5vh, 39px);
    background: #d98526;
}
@keyframes particle-animation-27 {
    100% {
        transform: translate3d(25vw, 24vh, 17px);
   }
}
.particle:nth-child(27) {
    animation: particle-animation-27 60s infinite;
    opacity: 0.38;
    height: 8px;
    width: 8px;
    animation-delay: -5.4s;
    transform: translate3d(72vw, 64vh, 60px);
    background: #d9269a;
}
@keyframes particle-animation-28 {
    100% {
        transform: translate3d(71vw, 22vh, 76px);
   }
}
.particle:nth-child(28) {
    animation: particle-animation-28 60s infinite;
    opacity: 0.57;
    height: 6px;
    width: 6px;
    animation-delay: -5.6s;
    transform: translate3d(20vw, 27vh, 84px);
    background: #26d9a6;
}
@keyframes particle-animation-29 {
    100% {
        transform: translate3d(73vw, 25vh, 46px);
   }
}
.particle:nth-child(29) {
    animation: particle-animation-29 60s infinite;
    opacity: 0.4;
    height: 10px;
    width: 10px;
    animation-delay: -5.8s;
    transform: translate3d(67vw, 42vh, 65px);
    background: #2c26d9;
}
@keyframes particle-animation-30 {
    100% {
        transform: translate3d(41vw, 46vh, 61px);
   }
}
.particle:nth-child(30) {
    animation: particle-animation-30 60s infinite;
    opacity: 0.44;
    height: 7px;
    width: 7px;
    animation-delay: -6s;
    transform: translate3d(14vw, 74vh, 29px);
    background: #d96826;
}
